<html>
<head><title>YourSpace</title></head>
<body>

<h1>Welcome to YourSpace</h1>

<h2>Here you will be able to create a post and add a picture</h2>

<form action="/post/" method="POST">
  
  Post title: <input type="text" name="title" maxlength="50" placeholder="Post here"><br/>    <br/> <br/> 
  Post message: <input type="text" name="message" style="width: 300px; height:200px" placeholder=" write here!"><br/><br/>    <br/> <br/>


Enter your image URL please: <input type="text" name="url" placeholder="URL"><br><br>


  <input type="submit">
</form>


</body>
</html>